<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <title>My Login Page</title>
</head>

<body>
<div th:insert="~{fragments/header :: header}"></div>

<br>

<div th:if="${param.error}">
  Invalid username and password.
</div>
<div th:if="${param.logout}">
  You have been logged out.
</div>
<br>
<form th:action="@{/login}" method="post">
  <div><label> User Name : <input type="text" name="username"/> </label></div>
  <br>
  <div><label> Password: <input type="password" name="password"/> </label></div>
  <br>
  <div><input type="submit" value="Log In"/></div>
</form>
<br>
<div>
  <a th:href="@{/users/registration}" th:text="#{registration.btn}"></a>
</div>

<div th:insert="~{fragments/footer :: footer}"></div>
</body>

</html>
